.contact {
  background: $color-white;
  padding-top: 80px;
  
  &__wrapper {
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    justify-items: center;
    gap: 28px;
    padding-bottom: 140px;

    @include onTablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__info {
    width: 75%;
    height: 566px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    background: $color-whitest;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: flex-end;
    
    @include onTablet {
      height: 400px;
    }

    &-adress,
    &-call-us,
    &-email {
      margin-left: 90px;
      margin-bottom: 40px;
      display: flex;
      flex-direction: column;

      @include onSmallDesktop {
        margin-left: 30px;
      }
    }

    &-title {
      color: $color-red;
      font-size: $largeFontSize;
      text-transform: uppercase;

      @include onTablet {
        font-size: $mediumFontSize;
      }
    }

    &-link {
      color: $color-grey;
      font-size: $bigFontSize;
      text-decoration: none;

      &:hover {
        -webkit-text-stroke: 0.5px #3e3e3e;
      }
      
      @include onTablet {
        font-size: $normalFontSize;
      }
    }
  }

  &__form {
    width: 75%;
    height: 566px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    background-color: $color-whitest;
    justify-self: flex-start;
    display: flex;
    justify-content: center;

    @include onTablet {
      height: 400px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &-input {
      width: 365px;
      height: 40px;
      margin-bottom: 20px;
      border: transparent;
      border-bottom: 1px solid $color-grey;

      @include onTablet {
        width: 205px;
        height: 24px;
      }

      &::placeholder {
        font-size: $normalFontSize;
        font-weight: $fontWeightNormal;
        line-height: $largeFontSize;
        color: $color-grey;
      }

      &-textarea {
        height: 144px;
        font-family: inherit;
        resize: none;

        @include onTablet {
          height: 90px;
        }
      }
    }
    
    &-button {
      width: 157px;
      height: 44px;
      color: $color-ivory;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
      background: $color-orange;
      border: 1px solid $color-orange;
      text-transform: uppercase;
      font-size: $normalFontSize;
      font-weight: $fontWeightBold;
      cursor: pointer;
      transition: 0.3s;
    }

    &-button:hover {
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
      background: transparent;
      border: 1px solid $color-orange;
      color: $color-orange;
    }
  }
}
