.container {
  max-width: 1200px;
  padding: 0 40px;
  box-sizing: border-box;

  &-head {
    &__title {
      text-shadow: 0 1px 0 $color-whitest;
      color: $color-grey-broun;
      font-family: "Source Sans Pro";
      font-size: $normalTitleSize;
      font-weight: $fontWeightBold;
      text-align: center;
      text-transform: uppercase;
      margin: 0;

      &--white {
        color: $color-whitest;
        font-weight: $fontWeightNormal;
        padding-top: 150px;
      }
    }
    
    &__info {
      color: $color-grey;
      font-size: $normalFontSize;
      font-weight: $fontWeightNormal;
      margin: 32px 10px 25px;
      text-align: center;

      &--white {
        color: $color-white;
      }
    }
  
    &__figure {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 0 0 50px;
  
      @include onMobile {
        margin: 15px 0;
      }
  
      &-line {
        width: 80px;
        height: 1px;
        background-color: $color-grey;

        &--white {
          background-color: $color-whitest;
        }
      }
    
      &-round {
        width: 8px;
        height: 7px;
        background-color: $color-orange;
        border-radius: 50%;
        margin: 0 13px;
      }
    }
  }
}
