.footer {
  background-color: #000;
  display: flex;
  justify-content: center;
  position: relative;

  &__wrapper {
    width: 900px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (min-width:1500px) {
      width: 1200px
    }

    @include onTablet {
      flex-direction: column;
    }
  }
  
  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    list-style: none;
    padding: 0;
    margin-left: 10px;
  }

  &__item {
    margin-left: 20px;
    padding: 0;

    @include onMobile {
      margin-left: 5px;
    }
  }

  &__img {
    filter: contrast(0%);
    transition: transform 0.3s;

    @include onMobile {
      
    }

    &:hover {
      transform: scale(1.2);
    }
  }

  &__text {
    opacity: 0.75;
    color: $color-grey;
    font-size: 14px;
    margin-right: 10px;
  }

  &__go-up {

    &-img {
      position: absolute;
      top: -30%;
      left: 93%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      @include onTablet {
        left: 85%;
      }

      @include onMobile {
        left: 75%;
      }
    }
  }
}