.header {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url(../images/Foreground.png);
  width: 100vw;
  height: 113vh;
  position: relative;

  &__wrapper {
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;

    @include onTablet {
      padding-top: 30px;
    }
  }

  &__logo {

    &--link {
      width: 0;
      height: 0;
      padding: 0;
    }
    @include onMobile {
      width: 100px;
      height: 40px;
    }
  }

  &__icon {
    display: none;

    @include onTablet {
      display: block;
      width: 24px;
      height: 24px;
    }
  }

  &__img {
    position: absolute;
    bottom: 0%;
    left: 47%;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    background: $color-white url(../images/Forma_1.svg) no-repeat center padding-box;
    border: 3px solid hsla(0, 0%, 110%, .5);

    @include onTablet {
      width: 60px;
      height: 60px;
    }

    @include onMobile {
      visibility: hidden;
    }
  }

  &__line {
    width: 100vw;
    height: 1px;
    background-color: rgb(216, 217, 219);
    position: absolute;
    top: 87%;

    @include onTablet {
      top: 89%;
    }
  }

  &__info {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: $color-white;
    height: 80vh;

    &-info {
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 24px;
      padding: 0;
      text-align: center;

      @include onTablet {
        font-size: 16px;
      }
    }

    &-title {
      font-size: 72px;
      margin: 45px 0 0;
      text-align: center;

      @include onTablet {
        font-size: 54px;
      }

      @include onMobile {
        font-size: 44px;
        margin: 30px 0 0;
      }
    }

    &-text {
      font-size: 14px;
      max-width: 580px;
      text-align: center;
      margin: 0 0 60px;

      @include onTablet {
        font-size: 12px;
      }

      @include onMobile {
        margin: 0 0 30px;
      }
    }

    &-figure {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 30px 0;

      @include onMobile {
        margin: 15px 0;
      }
    }

    &-line {
      width: 80px;
      height: 1px;
      background-color: #f1ebe7;
    }

    &-round {
      width: 8px;
      height: 7px;
      background-color: $color-orange;
      border-radius: 50%;
      margin: 0 13px;
    }

    &-buttons {
      @include onTablet {
        display: flex;
        flex-direction: column;
      }
    }
  
    &-button {
      width: 225px;
      height: 52px;
      color: #f1ebe7;
      background: transparent;
      border: 1px solid #ffffff;
      border-radius: 5px;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      transition: 0.3s;
    }

    &-button:hover {
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
      background: $color-orange;
      border: 1px solid $color-orange;
    }

    &-button--first {
      margin-right: 30px;

      @include onTablet {
        margin: 0 15px 15px 0;
      }
    }
  }

  &__slider {
    @include onTablet {
      visibility: hidden;
    }
    
    &-left {
      position: absolute;
      top: 40%;
      opacity: 0.5;
      cursor: pointer;
    }

    &-right {
      position: absolute;
      top: 40%;
      left: 93%;
      cursor: pointer;
    }
  }
}

