.our-blog {
  padding-top: 20px;
  box-sizing: border-box;

  &__wrapper{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    @include onTablet {
      display: grid;
      grid-template-columns: 1fr; 
    }
  }

  &__arrow {
    position: absolute;
    top: 40%;
    left: 47%;

    &--second {
      left: 49%;
    }

    @include onMobile {
      display: none;
    }
  }

  &__details {
    background-image: url(../images/Background.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 511px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 150px;

    @include onMobile {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
    }

    &-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include onMobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: end;
      }
    }

    &-border {
      width: 111px;
      height: 111px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      position: relative;

      @include onTablet {
        width: 90px;
        height: 90px;
      }

      @include onMobile {
        margin-right: 10px;
      }
    }

    &-img {
      height: 26px;
      width: 30px;
      position: absolute;
      top: 40%;
      right: 36%;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      @include onTablet {
        height: 20px;
        width: 24px;
      }
    }

    &-title {
      font-size: 30px;
      font-weight: 700;
      font-style: normal;
      color: $color-white;
      margin: 40px 0 0;
      text-align: center;

      @include onTablet {
        font-size: 25px;
      }

      @include onMobile {
        margin: 0;
      }
    }

    &-text {
      color: $color-white;
      margin: 10px 0 0;
      text-align: center;

      @include onTablet {
        font-size: 14px;
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;

    @include onMobile {
      display: flex;
      flex-direction: column;
    }

    &-img {
      width: 100%;
      height: 100%;
      background-image: url(../images/1.svg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;

      @include onMobile {
        width: 100%;
        min-height: 300px;
        order: 0;
      }

      &--first {
        background-image: url(../images/1.svg);
      }

      &--second {
        background-image: url(../images/2.svg);
      }

      &--third {
        background-image: url(../images/3.svg);
      }

      &--fourth {
        background-image: url(../images/4.svg);
      }
    }

    &-info {
      display: flex;
      flex-direction: column;
      padding: 20px;
      background-color: $color-red;
      color: #fff;

      @include onMobile {
        order: 1;
      }

      &-info {
        font-size: 14px;
      }

      &-title {
        font-size: 24px;
        font-weight: 400;
        cursor: pointer;
        
        &::after {
          content: "";
          display: block;
          box-sizing: border-box;
          width: 53px;
          height: 1px;
          margin-top: 6px;
          color: #fff;
          border: 1px solid #fff;
          transition: width 500ms;
          
        }
    
        &:hover {
          &::after {
            width: 80%;
          }
        }
      }

      &-text {
        font-size: 16px;
      }

      &-link {
        text-decoration: none;
        font-style: italic;
        font-weight: bold;
        color: #fff;
        transition: 0.3s;
      }

      &-link:hover {
        transform: scale(1.03);
      }
    }
  }
}
