.pricing {

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 380px);
    gap: 16px;
    justify-content: center;
    margin: 0 10px;

    @media (max-width: 1100px) {
      grid-template-columns: repeat(3, 200px);
    }

    @include onMobile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__card {
    height: 609px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    position: relative;
    
    @include onMobile {
      width: 280px;
      height: 500px;
    }

    // &--mobile {
    //   @include onMobile {
    //     display: none;
    //   }
    // }


    &-grey {
      height: 205px;
      background-color: $color-grey;
      z-index: 0;

      &--red {
        background-color: $color-orange;
      }
    }

    &-title {
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      margin-top: 50px;
    }

    &-round {
      width: 154px;
      height: 153px;
      background-color: #ffffff;
      border-radius: 50%;
      position: absolute;
      top: 23%;
      left: 30%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-clip: padding-box;
      border: 10px solid hsla(0, 0%, 110%, .4);

      @media (max-width: 1100px) {
        width: 100px;
        height: 100px;
        top: 25%;
        left: 21%;
      }

      @include onMobile {
        width: 120px;
        height: 120px;
        top: 18%;
        left: 26%;
      }
    }

    &-price {
      color: $color-grey;
      font-family: "Source Sans Pro";
      font-size: 40px;
      font-weight: 700;
      margin: 0;

      @media (max-width: 1100px) {
        font-size: 25px;
      }

      @include onMobile {
        font-size: 40px;
      }

      &--red {
        color: $color-orange;
      }
    }

    &-description {
      font-size: 13px;
      color: $color-grey;
    }

    &-list {
      margin: 125px 0 48px;
      list-style: none;
      padding: 0;
    }

    &-item{
      text-align: center;
      color: $color-grey;
      font-size: 14px;
      margin-bottom: 15px;
    }

    &-button {
      margin: auto;
      width: 145px;
      height: 46px;
      box-shadow: 0 2px 5px 1px rgba(0, 0, 0, 0.25);
      background-color: $color-grey;
      border: transparent;
      margin-bottom: 50px;
      cursor: pointer;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }

      @include onTablet {
        margin-bottom: 10px;
      }

      &--red {
        background-color: $color-orange;
      }
    }
  }
}