$color-whitest: #fff;
$color-ivory: #f1ebe7;
$color-grey-broun: #6a6a6a;
$color-white: #f4f5f9;
$color-red: #e74e3e;
$color-grey: #999999;
$color-orange: #e74c3c;
$color-black: #000;

$hugePlusDesktop: 1850px;
$hugeDesktop: 1750px;
$largeDesktop: 1650px;
$biggerDesktop: 1500px;
$smallDesktop: 1100px;
$tabletScreen: 900px;
$mobileScreen: 600px;
$squareSize: 100px;

$smallFontSize: 12px;
$normalFontSize: 14px;
$mediumFontSize: 16px;
$bigFontSize: 18px;
$biggerFontSize: 22px;
$largeFontSize: 24px;
$smallTitleSize: 30px;
$normalTitleSize: 36px;
$mediumTitleSize: 40px;
$bigTitleSize: 44px;
$largeTitleSize: 54px;
$hugeTitleSize: 72px;

$fontWeightNormal: 400;
$fontWeightBold: 700;
